$caret-map: (
  down: (top: solid, right: transparent, bottom: none, left: transparent),
  up: (top: none, right: transparent, bottom: solid, left: transparent),
  end: (top: transparent, right: none, bottom: transparent, left: solid),
  start: (top: transparent, right: solid, bottom: transparent, left: transparent)
);

@mixin caret($direction: down) {
  $caret-properties: map-get($caret-map, $direction);

  &::before,
  &::after {
    display: inline-block;
    margin-#{$direction == start ? 'right' : 'left'}: $caret-spacing;
    vertical-align: $caret-vertical-align;
    content: "";
    border-width: $caret-width;
    border-style: solid;
  }

  &::after {
    @if $enable-caret {
      @if $direction != start {
        border-color: $caret-color;
        @each $side, $style in $caret-properties {
          #{$side}: $style;
        }
      }
    }
  }

  &::before {
    @if $direction == start {
      @if $enable-caret {
        border-color: $caret-color;
        @each $side, $style in $caret-properties {
          #{$side}: $style;
        }
      }
    }
  }

  &:empty::after {
    margin-left: 0;
  }
}
