// Mixin for tooltip styles
@mixin tooltip-styles {
  position: absolute;
  z-index: $zindex-tooltip;
  display: block;
  margin: $tooltip-margin;
  @include reset-text();
  @include font-size($tooltip-font-size);
  word-wrap: break-word;
  opacity: 0;

  &.show { opacity: $tooltip-opacity; }

  .tooltip-arrow {
    position: absolute;
    display: block;
    width: $tooltip-arrow-width;
    height: $tooltip-arrow-height;

    &::before {
      position: absolute;
      content: "";
      border-color: transparent;
      border-style: solid;
    }
  }
}

// Base class
.tooltip {
  @include tooltip-styles();

  .bs-tooltip-top,
  .bs-tooltip-bottom {
    padding: $tooltip-arrow-height 0;

    .tooltip-arrow {
      &::before {
        border-width: $tooltip-arrow-height ($tooltip-arrow-width / 2) 0;
      }
    }
  }

  .bs-tooltip-top {
    .tooltip-arrow {
      bottom: 0;

      &::before {
        top: -1px;
        border-top-color: $tooltip-arrow-color;
      }
    }
  }

  .bs-tooltip-bottom {
    .tooltip-arrow {
      top: 0;

      &::before {
        bottom: -1px;
        border-bottom-color: $tooltip-arrow-color;
      }
    }
  }

  .bs-tooltip-end,
  .bs-tooltip-start {
    padding: 0 $tooltip-arrow-height;

    .tooltip-arrow {
      width: $tooltip-arrow-height;
      height: $tooltip-arrow-width;

      &::before {
        border-width: ($tooltip-arrow-width / 2) 0;
      }
    }
  }

  .bs-tooltip-end {
    .tooltip-arrow {
      left: 0;

      &::before {
        right: -1px;
        border-right-color: $tooltip-arrow-color;
      }
    }
  }

  .bs-tooltip-start {
    .tooltip-arrow {
      right: 0;

      &::before {
        left: -1px;
        border-left-color: $tooltip-arrow-color;
      }
    }
  }

  .bs-tooltip-auto {
    &[data-popper-placement^="top"] {
      @extend .bs-tooltip-top;
    }
    &[data-popper-placement^="right"] {
      @extend .bs-tooltip-end;
    }
    &[data-popper-placement^="bottom"] {
      @extend .bs-tooltip-bottom;
    }
    &[data-popper-placement^="left"] {
      @extend .bs-tooltip-start;
    }
  }
}

// Wrapper for the tooltip content
.tooltip-inner {
  @include tooltip-styles();

  max-width: $tooltip-max-width;
  padding: $tooltip-padding-y $tooltip-padding-x;
  color: $tooltip-color;
  text-align: center;
  background-color: $tooltip-bg;
  @include border-radius($tooltip-border-radius);
}
