$transition-duration: 300ms;

.fade {
  transition: opacity $transition-duration;
  transition-timing-function: ease;

  &:not(.show) {
    opacity: 0;
  }
}

.collapse {
  &:not(.show) {
    display: none;
  }
}

.panel-collapse.collapsing {
  height: 0;
  overflow: hidden;
  transition: height $transition-duration, padding 0 linear $transition-duration;
  transition-property: height, padding;
  transition-duration: $transition-duration, 0;
  transition-timing-function: ease, linear;
}
