.form-floating {
  position: relative;

  > .form-control,
  > .form-select {
    height: $form-floating-height;
    padding: $form-floating-padding-y $form-floating-padding-x;
    box-sizing: border-box;
  }

  > label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: $form-floating-padding-y $form-floating-padding-x;
    user-select: none;
    border: $input-border-width solid transparent;
    transform-origin: 0 0;
    z-index: 1;
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
    -webkit-transition: -webkit-transform 0.2s ease-out, opacity 0.2s ease-out;
    -moz-transition: -moz-transform 0.2s ease-out, opacity 0.2s ease-out;
    -ms-transition: -ms-transform 0.2s ease-out, opacity 0.2s ease-out;
    -o-transition: -o-transform 0.2s ease-out, opacity 0.2s ease-out;
  }

  > .form-control {
    &::placeholder {
      color: transparent;
    }

    &:focus,
    &:not(:placeholder-shown),
    &:required:valid,
    &:-webkit-autofill {
      padding-top: $form-floating-input-padding-t;
      padding-bottom: $form-floating-input-padding-b;
    }
  }

  > .form-select {
    padding-top: $form-floating-input-padding-t;
    padding-bottom: $form-floating-input-padding-b;
  }

  > .form-control:focus,
  > .form-control:not(:placeholder-shown),
  >
