// Range
//
// Style range inputs the same across browsers. Vendor-specific rules for pseudo
// elements cannot be mixed. As such, there are no shared styles for focus or
// active states on prefixed selectors.

.form-range {
  width: 100%;
  height: add($form-range-thumb-height, $form-range-thumb-focus-box-shadow-width * 2);
  padding: 0; // Need to reset padding
  background-color: transparent;
  appearance: none;
  user-select: none; // Prevent text selection

  &:focus {
    outline: 0;
    -webkit-appearance: none; // Remove default focus style in Webkit browsers

    // Pseudo-elements must be split across multiple rulesets to have an effect.
    // No box-shadow() mixin for focus accessibility.
    &::-webkit-slider-thumb { box-shadow: $form-range-thumb-focus-box-shadow; }
    &::-moz-range-thumb     { box-shadow: $form-range-thumb-focus-box-shadow; }
  }

  &::-moz-focus-outer {
    border: 0;
  }

  // Thumb styles
  &::-webkit-slider-thumb,
  &::-moz-range-thumb {
    width: $form-range-thumb-width;
    height: $form-range-thumb-height;
    margin-top: ($form-range-track-height - $form-range-thumb-height) / 2; // Webkit specific
    background-color: $form-range-thumb-bg;
    border: $form-range-thumb-border;
    border-radius: $form-range-thumb-border-radius;
    box-shadow: $form-range-thumb-box-shadow;
    transition: $form-range-thumb-transition;
    appearance: none;

    &:active {
      background-color: $form-range-thumb-active-bg;
    }
  }

  // Track styles
  &::-webkit-slider-runnable-track,
  &::-moz-range-track {
    width: $form-range-track-width;
    height: $form-range-track-height;
    color: transparent;
    cursor: $form-range-track-cursor;
    background-color: $form-range-track-bg;
    border-radius: $form-range-track-border-radius;
    box-shadow: $form-range-track-box-shadow;
    background-image: -webkit-linear-gradient(left, transparent 50%, rgba(0, 0, 0, 0.1) 50%), -webkit-linear-gradient(top, transparent 50%, rgba(0, 0, 0, 0.1) 50%);
    background-image: linear-gradient(to right, transparent 50%, rgba(0, 0, 0, 0.1) 50%), linear-gradient(to top, transparent 50%, rgba(0, 0, 0, 0.1) 50%);
    background-size: 2px 100%, 100% 2px;
    background-position: 0 0, 0 0;
    background-repeat: no-repeat;
  }

  // Disabled styles
  &:disabled {
    pointer-events: none;

    &::-webkit-slider-thumb {
      background-color: $form-range-thumb-disabled-bg;
    }

    &::-moz-range-thumb {
      background-color: $form-range-thumb-disabled-bg
