/* ========================
INCLUDE STYLES AND COMPONENTS
===================== */

/*import vendors*/
@import url(vendors/normalize.css);
@import url(vendors/bootstrap.css);
@import url(vendors/material-icon-round.css);
@import url(vendors/perfect-scrollbar.css);
@import url(vendors/select2.min.css);
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@400;500;600;700&display=swap");

/*RESET*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  color: #4f5d77;
}

/* --------------------- titles ---------------------- */
.section-heading {
  margin-bottom: 40px;
  margin-top: 0;
}

.section-heading p {
  max-width: 600px;
  margin: auto;
}

.section-title {
  font-weight: 500;
}

.title-text {
  margin-top: 45px;
  margin-bottom: 20px;
}

.b {
  font-weight: 600;
}

/* ==================  title helpers ================ */
.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand", sans-serif;
  color: #495057;
  font-weight: 800;
  line-height: 1.5;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 15px;
}

h6 {
  font-size: 14px;
}

p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 5px;
}

p:last-child {
  margin-bottom: 0;
}

a,
button {
  text-decoration: none;
  cursor: pointer;
}

b {
  font-weight: 500;
}

.card-title {
  color: #383e50 !important;
}

.text-body {
  color: #4f5d77 !important;
}

.menu-aside {
  list-style: none;
  margin: 1rem;
  padding: 0;
}

.menu-aside a {
  display: block;
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
}

.menu-aside .menu-item {
  margin-bottom: 5px;
}

.menu-aside .menu-item .icon {
  color: #adb5bd;
  margin-right: 10px;
  font-size: 24px;
}

.menu-aside .menu-item.active .icon {
  color: #3BB77E;
}

.menu-aside .menu-item.active .menu-link {
  background-color: rgba(59, 183, 126, 0.2);
}

.menu-aside .menu-item.active .submenu a.active {
  color: #3BB77E !important;
}

.menu-aside .menu-link {
  padding: 10px;
  font-weight: 800;
  font-size: 13px;
  color: #292f46;
  border-radius: 0.3rem;
  position: relative;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu-aside .menu-link:hover {
  -webkit-transition: .2s linear;
  transition: .2s linear;
  background-color: #e9ecef;
}

.menu-aside .submenu {
  margin-left: 44px;
  display: none;
  margin-top: 10px;
}

.menu-aside .submenu a {
  color: #6c757d;
  padding: 5px 0 5px 15px;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  position: relative;
  margin-left: 5px;
}

.menu-aside .submenu a:hover {
  color: #000;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.menu-aside .submenu a:before {
  content: "";

