/* Variables */
$color-brand: #color-brand;
$color-text: #color-text;
$border-color: #border-color;
$border-color-2: #border-color-2;
$font-heading: #font-heading;
$font-md: #font-md;
$font-sm: #font-sm;

/* COMPONENTS -> MISC */

.deals-countdown {
    .countdown-section {
        position: relative;
        font-weight: 400;
        font-size: 12px;
        line-height: 1;
        padding: 20px 5px 30px 5px;
        margin-left: 7px;
        margin-right: 7px;
        background-color: #fff;
        border-radius: 4px;
        border: none;
        margin-bottom: 2rem;

        .countdown-amount {
            display: inline-block;
            color: $color-brand;
            font-weight: 500;
            font-size: 20px;
            line-height: 1;
            margin-bottom: 15px;
            width: 50px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            font-family: $font-heading;
        }

        .countdown-period {
            position: absolute;
            left: 0;
            right: 0;
            text-align: center;
            bottom: 10px;
            display: block;
            color: $color-text;
            width: 100%;
            padding-left: 0;
            padding-right: 0;
            overflow: hidden;
            font-size: $font-md;
            text-transform: capitalize;
        }
    }
}

.img-grey-hover {
    opacity: .5;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    transition-duration: 0.3s;

    &:hover {
        filter: none;
        opacity: 1;
        transition-duration: 0.3s;
    }
}

.brand-logo {
    img {
        width: auto;
        display: inline-block;
        padding: 10px 0;
    }
}

.heading-tab {
    align-items: center;
    flex-direction: row;
    text-align: left;
    justify-content: space-between;
}

/* page loading */
.preloader {
    background-color: #fff;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    margin: 0 auto;
}

.preloader img.jump {
    max-height: 100px;
}

/* custom amine */
.loader,
.bar {
    width: 100px;
    height: 20px;
}

.bar {
    position: absolute;
    display: flex;
    align-items: center;
}

.bar::before,
.bar::after {
    content: "";
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    background: $color-brand;
    opacity: 0;
    border-radius: 10px;
    animation: slideleft 3s ease-in-out infinite;
}

.bar1::before {
    animation-delay: 0.00s;
}

.bar1::after {
    animation-delay: 0.3s;
}

.bar2::before {
    animation-delay: 0.60s;
}

.bar2::after {
    animation-delay: 0.90s;
}

.bar3::before {
    animation-delay: 1.20s;
}

.bar3::after {
    animation-delay: 1.50s;
}

/* page header */
.page-header {
    .page-title {
        font-weight: 900;
        font-size: 4rem;
    }

    &.breadcrumb-wrap {
        padding: 20px;
        background-color: #fff;
        border-bottom: 1px solid $border-color;
        font-family: $font-heading;
    }
}

.breadcrumb {
    display: inline-block;
    padding: 0;
    text-transform: capitalize;
    color: $color-text;
    font-size: $font-sm;
    font-weight: 600;
    background: none;
    margin: 0;
    border-radius: 0;

    span {
        position: relative;
        text-align: center;
        padding: 0 10px;

        &::before {
            content: "\f111";
            font-family: "uicons-regular-straight" !important;
            display: inline-block;
            font-size: 9px;
        }
    }
}

/* SOCIAL NETWORKS */
.social-icons {
    &.social-icons-colored,
    &.social-icons-colored-hover {
        a,
        a:hover {
            color: #fff !important;
            border: 0;
        }
    }

    &.social-icons-colored {
        .social-
