/* COMPONENTS -> SLIDER */

.single-animation-wrap {
  &.slick-active {
    .slider-animated-1 {
      h1,
      h2,
      h3,
      h4,
      span,
      p,
      a.btn {
        -webkit-animation-delay: 1.4s, 1.2s, 1.0s, 1.0s, 0.5s, 1.7s, 2.0s;
        animation-delay: 1.4s, 1.2s, 1.0s, 1.0s, 0.5s, 1.7s, 2.0s;
        -webkit-animation-name: fadeInUp;
        animation-name: fadeInUp;
      }

      &.slider-product-price {
        -webkit-animation-delay: 1.2s;
        animation-delay: 1.2s;
        -webkit-animation-name: flipInY;
        animation-name: flipInY;
      }

      .single-slider-img {
        img {
          -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
          -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
        }
      }
    }
  }

  &.slick-active .slider-animated-1 .slider-product-offer-wrap,
  &.slick-active .slider-animated-1 .slider-product-offer-wrap-2 {
    -webkit-animation-delay: 1.0s;
    animation-delay: 1.0s;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
  }
}

.hero-slider-1 {
  position: relative;

  &.style-5 {
    .display-2 {
      font-size: 50px;
    }

    .slider-content p {
      font-size: 24px;
    }

    img {
      border-radius: 10px;
    }

    .single-hero-slider {
      border-radius: 10px;
    }
  }

  .single-hero-slider {
    height: 538px;
    border-radius: 30px;
    background-size: cover;
    background-position: center center;

    &.rectangle {
      border-radius: 0;

      .slider-content {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translateY(-50%) translateX(-50%);
        transform: translateY(-50%) translateX(-5
