:root {
  --transition-duration: 0.3s;
  --transition-timing-function: ease;
  --transition-delay: 0s;
}

*,
*:before,
*:after {
  transition: all var(--transition-duration) var(--transition-timing-function) var(--transition-delay);
}

@keyframes slideleft {
  10% { opacity: 0; transform: scale(0); right: 0; }
  50% { opacity: 1; transform: scale(1); }
  90% { opacity: 0; transform: scale(0); right: 100%; }
}

[data-loader='spinner'] {
  width: 35px;
  height: 35px;
  display: inline-block;
  animation: spinner 1.2s infinite ease-in-out;
  background: url(../imgs/favicon.svg);
  box-shadow: 0 0 10px #fff;
}

@keyframes spinner {
  0% { transform: perspective(120px) rotateX(0) rotateY(0); }
  50% { transform: perspective(120px) rotateX(-180deg) rotateY(0); }
  100% { transform: perspective(120px) rotateX(-180deg) rotateY(-180deg); }
}

.jump {
  transform-origin: 0;
  animation: jump 0.5s linear alternate infinite;
}

@keyframes jump {
  0% { transform: translate3d(0, 20%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
