/* RESET AND BOX MODEL */

/* Reset all margins, paddings, borders, font-sizes, and font-families to their default values */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Set some default styles for certain elements */
thead {font-weight: 600;}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {max-width: 100%;}

/* Remove outlines and box-shadows on focus for all elements */
*:focus,
select:focus,
.custom-select:focus,
button:focus,
textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus{outline:none!important;box-shadow:none;}

/* Remove transition on focus for certain elements */
input:focus::-moz-placeholder{opacity:0;-webkit-transition:.4s;-o-transition:.4s;transition:.4s}

/* COMMON CLASSES */

/* Define some common classes for styling elements */
::placeholder{color:#838383}
.fix{overflow:hidden;}
.hidden{display:none;}
.clear{clear:both;}
.section{float:left;width:100%;}
.f-right{float:right;}
.capitalize{text-transform:capitalize;}
.uppercase{text-transform:uppercase;}
.bg-img{background-position:center center;background-size:cover;}
.position-relative{position:relative;}
.height-100vh {
	height: 100vh !important;
}

/* Define some common font sizes */
.font-xxs{font-size:$font-xxs;}
.font-xs{font-size:$font-xs;}
.font-sm{font-size:$font-sm;}
.font-md{font-size:$font-md;}
.font-lg{font-size:$font-lg;}
.font-xl{font-size:$font-xl;}
.font-xxl{font-size:$font-xxl;}

/* Define some common styles for hr elements */
hr {
    color: #a6acb3 !important;
}

/* Define some common styles for table elements */
table {
    font-size: 13px;
    color: #495058 !important;
}
thead {
    background: #f7f8f9;
}
th {
    padding: 10px 0;
}
.form-check {
    display: inline-block;
    margin: 0 auto;
}

/* Define some common styles for .table class */
.table > :not(caption) > * > * {
	padding: 0.8rem 0.4rem;
    vertical-align: middle;
}

/* Define some common styles for .table-lg class */
.table-lg{
	td, th{ padding:0.8rem 1rem; }
}

/* Define some common styles for .table-light class */
.table-light {
    color: #495058 !important;
}

/* Define some common styles for .shadow class */
.shadow {
	-webkit-box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
    box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
    border: 1px solid #eee;
}

/* Define some common styles for text elements */
.text-brand {color: $brand !important;}

/* Define some common styles for background elements */
.bg-primary {
	background-color:$primary-light;
}
.bg-brand-2 {
	background-color:$brand-2;
}
.text-primary {
	color: $brand !important;
}
.bg-primary-light {
	background-color: $primary-light !important;
}

/* Define some common styles for
